<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>HPlusSample</display-name>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.example.kinorate.servlets.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern/>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/FilmRating</param-value>
    </context-param>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.example.kinorate.filters.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/comment</url-pattern>
        <url-pattern>/film-creating</url-pattern>
        <url-pattern>/film-deleting</url-pattern>
        <url-pattern>/ban</url-pattern>
        <url-pattern>/mypage</url-pattern>
        <url-pattern>/status</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/user-search</url-pattern>
        <url-pattern>/rate</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>BanFilter</filter-name>
        <filter-class>com.example.kinorate.filters.BanFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>BanFilter</filter-name>
        <url-pattern>/comment</url-pattern>
        <url-pattern>/film-creating</url-pattern>
        <url-pattern>/film-deleting</url-pattern>
        <url-pattern>/ban</url-pattern>
        <url-pattern>/user-search</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.example.kinorate.filters.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/film-creating</url-pattern>
        <url-pattern>/film-deleting</url-pattern>
        <url-pattern>/ban</url-pattern>
        <url-pattern>/user-search</url-pattern>
    </filter-mapping>

</web-app>